* {
    
    margin: 100px;
    text-align: left;
}

a {
    color: black;
    white-space: nowrap;

}
.mufin {
    /* box sizing */
    padding-left:200px;
    padding-right: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 200px;
    height: 64px;

    /* box styling*/
    border-radius: 20px;
    
    /* background image */
    background-image: url(./images/mufin_image);
    background-size: cover;
    background-position: center;
    
    /* text styling*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}

.fettucine_alfredo {
    /* box sizing */
    padding-left:200px;
    padding-right: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 200px;
    height: 64px;

    /* box styling*/
    border-radius: 22px;
    
    /* background image */
    background-image: url(./images/Fettucine_alfredo_pic);
    background-size: cover;
    background-position: center;
    
    /* text styling*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}
.grilled_chesse {
    /* box sizing */
    padding-left:200px;
    padding-right: 200px;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 200px;
    height: 64px;

    /* box styling*/
    border-radius: 20px;
    
    /* background image */
    background-image: url(./images/high-angle-tasty-sandwiches-with-cheese.jpg);
    background-size: cover;
    background-position: center;
    
    /* text styling*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}